<p>
  <strong>Title:</strong>
  <%= @discs.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @discs.artist %>
</p>
<p>
  <strong>Year:</strong>
  <%= @discs.year %>
</p>
<%= link_to 'Back', discos_path %>